@import 'src/clientlib-base/dependencies';

.menu-button {
    position: relative;
    font-size: 2em;
    z-index: 999;
}

.hide {
    transform: translatex(100%);
}

.menu-navigation {


    &__items {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        padding-top: 8%;
        transition: 1.5s;
        margin: 0px;
        list-style: none;
        background-color: #fff;
        width: 99vw;
    }

    &__list {
        padding-top: 8%;
        list-style: none;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    &__link {
        font-family: $header-font;
        text-decoration: none;
        color: black;
        display: inline;
        padding: 0px 16px;
    }
}

.container-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}