@import 'src/clientlib-base/dependencies';

header {
    display: flex;
    align-items: center;
    color: $white;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: $bg-red-primary;
    height: 15%;
    padding: 0px 20px;
}


h1 {
    font-family: $header-font;
    text-align: left;
    width: 65%;
    line-height: 1.3rem;
    font-size: 1.3rem;
    font-weight: 100;
}