@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.header {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: white;
  height: 15%;
  padding: 0px 20px; }
  .header nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center; }
    @media (max-width: 320px) {
      .header nav {
        width: 88%; } }
    .header nav img {
      width: 9%; }
      @media (max-width: 320px) {
        .header nav img {
          width: 30%; } }
  .header__donation {
    background-color: #EBEFF3;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 16px 18px;
    padding: 3px 24px;
    font-family: "Bebas Neue", cursive; }
    .header__donation .fa-heart {
      color: #EE1C25;
      margin-right: 5px; }
  @media (max-width: 320px) {
    .header_donation--description {
      display: none; } }
  .header__group-donation-and-menu {
    display: flex;
    width: 20%;
    align-items: baseline;
    justify-content: space-around; }
