@import 'src/clientlib-base/dependencies';

header {
    color: black;
    background-color: #FFFF;
    height: 60%;
    padding: 0px 20px;
}


h1 {
    font-family: $header-font;
    text-align: left;
    width: 65%;
    line-height: 1.3rem;
    font-size: 1.3rem;
    font-weight: 100;
}