@import url(https://fonts.googleapis.com/css2?family=Monofett&display=swap);
header {
  color: black;
  background-color: #FFFF;
  height: 100%; }

h1 {
  font-family: "Monofett", cursive;
  text-align: left;
  width: 30%; }
