@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.btn__donation {
  background-color: #EBEFF3;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 16px 18px;
  padding: 3px 24px;
  font-family: "Bebas Neue", cursive; }
  @media (max-width: 576px) {
    .btn__donation {
      padding: 15px 24px;
      margin-right: 20px; } }
  .btn__donation .fa-heart {
    color: #ED1C24;
    opacity: 0.6;
    margin-right: 5px;
    border-radius: 95%;
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both; }
    .btn__donation .fa-heart:hover {
      opacity: initial; }
    @media (max-width: 576px) {
      .btn__donation .fa-heart {
        margin-right: 0px;
        font-size: 1.2em; } }

@media (max-width: 576px) {
  .btn_donation--description {
    display: none; } }
