@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  font-family: "Bebas Neue", cursive;
}

header {
  grid-area: h;
}

main {
  grid-area: m;
}

footer {
  background: #C4C4C4;
  grid-area: f;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh 70vh 10vh;
  grid-template-areas: "h h"
    "m m"
    "f f";
}